<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link href="/common/style.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/common/func.js"></script>
    </head>
    <body class="body">
        {{#if user}}  <!-- check if user exists -->
   <nav class="navbar">
    <ul>
        {{#if (eq user.role "admin")}}   <!-- check if role is admin -->
            <li><a href="/admin">Admin</a></li> 
            <li><a href="/home">Home</a></li> 
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>  
        {{else}}  <!-- regular user -->
            <li><a href="/home">Home</a></li> 
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        {{/if}}
    </ul>
    </nav>
        {{else}}  <!-- no user logged in -->
        {{/if}}

        {{{body}}} 
    </body>
</html>