<h2>Login</h2>

<form id="login-form">
    <div class="form-input">
        <label>Email: </label>
        <input type="email" name="email" required>
    </div>

    <div class="form-input">
        <label>Password: </label>
        <input type="text" name="password" required>
    </div>

    <button class="submit-btn" type="submit">Login</button>
</form>

<p class="form-switch">
    Not a member? <a href="/register">Create an account</a>
</p>