<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/common/func.js"></script>
</head>
<body class="body">
    {{#if user}}
    <nav class="navbar">
        <ul>
            <li><a href="/profile">Profile</a></li>
            {{#if (eq user.role "admin")}}
            <li><a href="/admin">Admin</a></li>
            {{/if}}
            <li class="logout">
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    {{/if}}
    {{{body}}}
</body>
</html>